.App {
  padding: 20px;
  margin: 20px;
}
.note-list {
  margin: 20px 0;
  border: 1px solid #61affe;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.19);
}
.note-list li {
  padding: 10px 0;
}
.note-list button {
  font-size: 15px;
  border: none;
}
.note-list .marked button {
  text-decoration: line-through;
  color: gray;
}
.note-list .unmarked button {
  color: #61affe;
}
